.base-col, body .container .row .col-1, body .container .row .col-2, body .container .row .col-3, body .container .row .col-4 {
  float: left;
  box-sizing: border-box;
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0; }
  body .container {
    width: 100%;
    box-sizing: border-box; }
    body .container .row {
      box-sizing: border-box;
      clear: both; }
      body .container .row .col-1 {
        width: 25%; }
      body .container .row .col-2 {
        width: 50%; }
      body .container .row .col-3 {
        width: 75%; }
      body .container .row .col-4 {
        width: 100%; }
