body [data-drobbable] {
  border: 10px dashed #999999;
  box-sizing: border-box;
  width: 45%;
  height: 500px;
  background-color: #757575;
  float: left;
  margin-right: 5%;
  font-size: 64px;
  color: #999999;
  text-align: center; }
  body [data-drobbable]:hover {
    color: #DDDDDD; }
body table {
  float: right;
  width: 50%; }
  body table thead {
    font-weight: bold; }
  body table .editsb {
    display: none; }
