body {
	margin:0px;
	padding:0px;
}

.content {

	display:flex;
	flex-direction: column;

	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	position: absolute;
	background: blue;

	align-items: center;
	justify-content:space-around;


	div {
		border:1px solid black;
		margin:0;
		padding:0;
		height:30px;

		button {
			height:30px;
			vertical-align: middle;
		}

	}
}
