.base-col {
	float:left;
	box-sizing: border-box;
	border:1px solid black;
}

body {

	margin:0;
	padding:0;

	.container {

		width:100%;
		box-sizing: border-box;

		.row {
			box-sizing: border-box;
			clear:both;

			.col-1 {
				@extend .base-col;
				width:25%;
			}

			.col-2 {
				@extend .base-col;
				width:50%;
			}

			.col-3 {
				@extend .base-col;
				width:75%;
			}

			.col-4 {
				@extend .base-col;
				width:100%;
			}


		}

	}

}
